@font-face{
  font-family: "Creative";
  src: url('./backgroundimg/CREABBB_.TTF');
}

.header-image{
  display: flex;
  height:300px;
  background:linear-gradient(90deg,#00c4cc,#7d2ae8);
  background-attachment: fixed;
  background-size: cover;
  color: white;
  margin-bottom: 50px;
}
.troll{
  height: 370px;
}

.main-content {
  height: 100%;
  align-content: center;
  background-color: white;
}

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title-container, 
.title-container-main {
  text-align: center;
  font-family: "Creative";
}
.title-container-main {
  font-size: 150px;
}

.navbar {
  width:100%;
  height:3%;
  font-family: "Creative";
  background-color: #333333;
  color:white;
}

.toptext{
  position: absolute;
  top: 0;
  text-align: center;
  z-index: 10;
  text-transform: uppercase
}

.bottomtext{
  position: absolute;
  text-align: center;
  color:white;
  bottom: 0;
  z-index: 10;
  text-transform: uppercase
}

.bottom-text {
  font-size: 20px;
  display: block;
  width: 100%;
  font-family: Impact;
  text-align: center;
  text-transform: uppercase;
  bottom: 0;
  color: #fff;
  letter-spacing: 1px;
  background: linear-gradient(to left, rgb(51, 51, 51), rgba(51, 51, 51, 0.81));
}
.top-text {
  display: block;
  width: 100%;
  font-family: Impact;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  padding: 5px;
  color: #fff;
  letter-spacing: 1px;
  background: linear-gradient(to left, rgb(51, 51, 51), rgba(51, 51, 51, 0.81));
}
.image{
  margin: 10px;
}
img{
  width: 250px;
  height: 200px;
}

.image:hover {
  transform: scale(1.5); 
  z-index: 50;
}
.modal-body {
  height: 100%;
  background-color: #333333;
}

.meme-form {
  color: white;
  width: 300px;
  background-color: #333333b9;
  margin-left: 20px;
  padding-left: 20px;

}

.modal-header {
  color: white;
  font-family: "creative";
  background:linear-gradient(90deg,#00c4cc,#7d2ae8);

}
::placeholder{
  font-weight: lighter;

}
input[type="text"] {
  border: 0;
  width: 120%;
  letter-spacing: 2px;
  margin-bottom: 30px;
  font-size: 20px;

}

.meme-gen-modal{
   max-width: fit-content;
}

image{
  margin: 0 auto;
  height: 400px;
  width: 450px;
}
.btn-primary{
  background:linear-gradient(90deg,#9200cc,#7d2ae8);

}