.toptext{
  position: absolute;
  text-align: center;
  color:white;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transform: translateY(-13rem);
  z-index: 10;
  text-shadow: 0.6px 0 0 rgb(2, 2, 2)
}
.bottomtext{
  position: absolute;
  text-align: center;
  color:white;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transform: translateY(-3rem);
  z-index: 10;
  text-shadow: 0.6px 0 0 rgb(2, 2, 2)

}